.wrapperBlock {

    display: flex;
    width: 35%;
    margin: 15px auto 20px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
}
.btn {
    font-size:16px;
    font-weight: 600;
    color: white;
    background-color: #6ab3ff;
    padding:9px;
    border-radius: 5px;
    border: 1px solid #5d86ff;
    box-shadow: #d5ecff;
    cursor: pointer;
}
.btn:active {
    color:black;
    background-color: rgba(106, 179, 255, 0.67);
    box-shadow: none;
}